@charset "UTF-8";
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/* Slider */
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat; }

/* Icons */
@font-face {
  font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal; }
/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none; }
  .slick-prev:hover, .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus {
    outline: none;
    background: transparent;
    color: transparent; }
    .slick-prev:hover:before, .slick-prev:focus:before,
    .slick-next:hover:before,
    .slick-next:focus:before {
      opacity: 1; }
  .slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before {
    opacity: 0.25; }
  .slick-prev:before,
  .slick-next:before {
    font-family: "slick";
    font-size: 20px;
    line-height: 1;
    color: white;
    opacity: 0.75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

.slick-prev {
  left: -25px; }
  [dir="rtl"] .slick-prev {
    left: auto;
    right: -25px; }
  .slick-prev:before {
    content: "←"; }
    [dir="rtl"] .slick-prev:before {
      content: "→"; }

.slick-next {
  right: -25px; }
  [dir="rtl"] .slick-next {
    left: -25px;
    right: auto; }
  .slick-next:before {
    content: "→"; }
    [dir="rtl"] .slick-next:before {
      content: "←"; }

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px; }

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%; }
  .slick-dots li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer; }
    .slick-dots li button {
      border: 0;
      background: transparent;
      display: block;
      height: 20px;
      width: 20px;
      outline: none;
      line-height: 0px;
      font-size: 0px;
      color: transparent;
      padding: 5px;
      cursor: pointer; }
      .slick-dots li button:hover, .slick-dots li button:focus {
        outline: none; }
        .slick-dots li button:hover:before, .slick-dots li button:focus:before {
          opacity: 1; }
      .slick-dots li button:before {
        position: absolute;
        top: 0;
        left: 0;
        content: "•";
        width: 20px;
        height: 20px;
        font-family: "slick";
        font-size: 6px;
        line-height: 20px;
        text-align: center;
        color: black;
        opacity: 0.25;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
    .slick-dots li.slick-active button:before {
      color: black;
      opacity: 0.75; }

body {
  background-color: #424242;
  font-family: Lato, helvetica, arial, sans-serif;
  -webkit-font-smoothing: antialiased; }

.dark {
  color: #fff;
  background-color: #333;
  padding-top: 80px;
  padding-bottom: 50px; }

p {
  font-size: 17px;
  line-height: 1.6; }

.img-header {
  height: 350px; }
  .lawnmowing .img-header {
    background-image: url("../assets/images/lawnmowing_lg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; }
  .referral .img-header {
    background-image: url("../assets/images/referral.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; }
  .landscapedesign .img-header {
    background-image: url("../assets/images/landscape_banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; }
  .landscapemaintenance .img-header {
    background-image: url("../assets/images/lawncare_lg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; }
  .mulching .img-header {
    background-image: url("../assets/images/mulching_banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; }
  .planting .img-header {
    background-image: url("../assets/images/planting_banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; }
  .snowremoval .img-header {
    background-image: url("../assets/images/snowremoval_lg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; }
  .contact .img-header {
    background-image: url("../assets/images/contact.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; }

.landscape_subitem {
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 400px;
  font-size: 30px;
  text-shadow: 0 1px 4px rgba(0, 0, 0, 0.8);
  font-weight: bold; }
  .landscape_subitem.softscape {
    background-image: url("../assets/images/softscapeBG.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; }
  .landscape_subitem.hardscape {
    background-image: url("../assets/images/hardscapeBG.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; }

.sub-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 250px;
  margin: 40px; }
  .sub-item h3 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    font-weight: bold;
    font-size: 26px;
    line-height: 36px; }
  .sub-item.lawnmaint_bg {
    background-image: url("../assets/images/lawnmaint_subBG.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; }
  .sub-item.landscape_bg {
    background-image: url("../assets/images/landscape_subBG.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; }
  .sub-item.landscapemaint_bg {
    background-image: url("../assets/images/landscapemaint_subBG.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; }

.landscapemaintenance h5 {
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: bold; }

.site-header {
  display: flex;
  width: 100%;
  background-color: #fff;
  padding-top: 20px;
  padding-bottom: 20px; }

.navbar-brand {
  margin-right: 100px; }

.nav-link, .dropdown-item {
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  margin-right: 10px;
  color: #2f361a; }
  .nav-link:hover, .dropdown-item:hover {
    color: #759036; }

@media screen and (max-width: 1200px) {
  .navbar-brand {
    margin-right: 50px; }
    .navbar-brand img {
      width: 200px; }

  .nav-link, .dropdown-item {
    font-size: 16px; } }
footer {
  background-color: #222;
  color: #fff;
  padding-top: 50px;
  padding-bottom: 50px; }
  footer h3 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px; }
  footer p {
    font-size: 14px; }
  footer input[type="text"] {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 14px; }
  footer input[type="submit"] {
    background-color: #96c556;
    color: #fff;
    text-transform: uppercase;
    border: 0;
    padding: .6em 1.2em;
    font-size: 16px; }
  footer textarea {
    max-width: 100%;
    padding: 10px; }
  footer ul {
    padding: 0; }
  footer li {
    list-style: none; }
    footer li a {
      color: #fff;
      text-decoration: none; }

.slide {
  color: #fff;
  min-height: 400px;
  display: flex;
  align-items: center;
  justify-content: center; }
  .slide--lawn-mowing {
    background-image: url("../assets/images/lawnmowing_lg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; }
  .slide--landscape {
    background-image: url("../assets/images/landscape_lg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; }
  .slide--lawn-care {
    background-image: url("../assets/images/lawncare_lg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; }
  .slide--planting {
    background-image: url("../assets/images/planting_lg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; }
  .slide--mulching {
    background-image: url("../assets/images/mulching_lg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; }
  .slide--snow-removal {
    background-image: url("../assets/images/snowremoval_lg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; }

.slide-content {
  display: flex;
  width: 100%;
  height: 100%;
  min-height: 400px;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .slide-content h3 {
    font-size: 66px;
    font-weight: bold;
    text-shadow: black 0px 2px 5px;
    background-color: rgba(0, 0, 0, 0.0470588); }

.slick-next {
  right: 25px;
  z-index: 1000; }

.slick-prev {
  left: 25px;
  z-index: 1000; }

.intro {
  margin-bottom: 80px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  padding-top: 30px;
  padding-bottom: 30px; }
  .intro h1 {
    font-size: 24px;
    font-weight: normal;
    margin-bottom: 10px; }
  .intro h3 {
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 10px; }
    .intro h3 a {
      color: #fff;
      text-decoration: none; }

.mission {
  padding-top: 80px;
  padding-bottom: 50px;
  color: #fff; }
  .mission h3 {
    font-size: 24px;
    margin-bottom: 10px; }
  .mission p {
    font-size: 14px; }
