@charset "UTF-8";
/* CSS Document */

@font-face {
    font-family: 'tylermurphyRegular';
    src: url('fonts/tylermurphy-webfont.eot');
    src: url('fonts/tylermurphy-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/tylermurphy-webfont.woff') format('woff'),
         url('fonts/tylermurphy-webfont.ttf') format('truetype'),
         url('fonts/tylermurphy-webfont.svg#tylermurphyRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ProximaNovaLight';
    src: url('fonts/proximanova-light-webfont.eot');
    src: url('fonts/proximanova-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/proximanova-light-webfont.woff') format('woff'),
         url('fonts/proximanova-light-webfont.ttf') format('truetype'),
         url('fonts/proximanova-light-webfont.svg#ProximaNovaLight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ProximaNovaRegular';
    src: url('fonts/proximanova-reg-webfont.eot');
    src: url('fonts/proximanova-reg-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/proximanova-reg-webfont.woff') format('woff'),
         url('fonts/proximanova-reg-webfont.ttf') format('truetype'),
         url('fonts/proximanova-reg-webfont.svg#ProximaNovaRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ProximaNovaThin';
    src: url('fonts/proximanova-thin-webfont.eot');
    src: url('fonts/proximanova-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/proximanova-thin-webfont.woff') format('woff'),
         url('fonts/proximanova-thin-webfont.ttf') format('truetype'),
         url('fonts/proximanova-thin-webfont.svg#ProximaNovaThin') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ProximaNovaExtrabold';
    src: url('fonts/proximanova-xbold-webfont.eot');
    src: url('fonts/proximanova-xbold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/proximanova-xbold-webfont.woff') format('woff'),
         url('fonts/proximanova-xbold-webfont.ttf') format('truetype'),
         url('fonts/proximanova-xbold-webfont.svg#ProximaNovaExtrabold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ProximaNovaCondensedRegular';
    src: url('fonts/proximanovacond-reg-webfont.eot');
    src: url('fonts/proximanovacond-reg-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/proximanovacond-reg-webfont.woff') format('woff'),
         url('fonts/proximanovacond-reg-webfont.ttf') format('truetype'),
         url('fonts/proximanovacond-reg-webfont.svg#ProximaNovaCondensedRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ProximaNovaCondensedThin';
    src: url('fonts/proximanovacond-thin-webfont.eot');
    src: url('fonts/proximanovacond-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/proximanovacond-thin-webfont.woff') format('woff'),
         url('fonts/proximanovacond-thin-webfont.ttf') format('truetype'),
         url('fonts/proximanovacond-thin-webfont.svg#ProximaNovaCondensedThin') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ProximaNovaCondensedExtrabold';
    src: url('fonts/proximanovacond-xbold-webfont.eot');
    src: url('fonts/proximanovacond-xbold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/proximanovacond-xbold-webfont.woff') format('woff'),
         url('fonts/proximanovacond-xbold-webfont.ttf') format('truetype'),
         url('fonts/proximanovacond-xbold-webfont.svg#ProximaNovaCondensedExtrabold') format('svg');
    font-weight: normal;
    font-style: normal;

}


/*---Chaparral Pro--*/
@font-face {
    font-family: 'ChaparralProLight';
    src: url('fonts/chaparralpro-light-webfont.eot');
    src: url('fonts/chaparralpro-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/chaparralpro-light-webfont.woff') format('woff'),
         url('fonts/chaparralpro-light-webfont.ttf') format('truetype'),
         url('fonts/chaparralpro-light-webfont.svg#ChaparralProLight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ChaparralProBold';
    src: url('fonts/chaparralpro-bold-webfont.eot');
    src: url('fonts/chaparralpro-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/chaparralpro-bold-webfont.woff') format('woff'),
         url('fonts/chaparralpro-bold-webfont.ttf') format('truetype'),
         url('fonts/chaparralpro-bold-webfont.svg#ChaparralProBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ChaparralProBoldItalic';
    src: url('fonts/chaparralpro-boldit-webfont.eot');
    src: url('fonts/chaparralpro-boldit-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/chaparralpro-boldit-webfont.woff') format('woff'),
         url('fonts/chaparralpro-boldit-webfont.ttf') format('truetype'),
         url('fonts/chaparralpro-boldit-webfont.svg#ChaparralProBoldItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ChaparralProItalic';
    src: url('fonts/chaparralpro-italic-webfont.eot');
    src: url('fonts/chaparralpro-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/chaparralpro-italic-webfont.woff') format('woff'),
         url('fonts/chaparralpro-italic-webfont.ttf') format('truetype'),
         url('fonts/chaparralpro-italic-webfont.svg#ChaparralProItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ChaparralProRegular';
    src: url('fonts/chaparralpro-regular-webfont.eot');
    src: url('fonts/chaparralpro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/chaparralpro-regular-webfont.woff') format('woff'),
         url('fonts/chaparralpro-regular-webfont.ttf') format('truetype'),
         url('fonts/chaparralpro-regular-webfont.svg#ChaparralProRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ChaparralProLightItalic';
    src: url('fonts/chaparralpro-lightit-webfont.eot');
    src: url('fonts/chaparralpro-lightit-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/chaparralpro-lightit-webfont.woff') format('woff'),
         url('fonts/chaparralpro-lightit-webfont.ttf') format('truetype'),
         url('fonts/chaparralpro-lightit-webfont.svg#ChaparralProLightItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ChaparralProSemibold';
    src: url('fonts/chaparralpro-semibold-webfont.eot');
    src: url('fonts/chaparralpro-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/chaparralpro-semibold-webfont.woff') format('woff'),
         url('fonts/chaparralpro-semibold-webfont.ttf') format('truetype'),
         url('fonts/chaparralpro-semibold-webfont.svg#ChaparralProSemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ChaparralProSemiboldItalic';
    src: url('fonts/chaparralpro-semiboldit-webfont.eot');
    src: url('fonts/chaparralpro-semiboldit-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/chaparralpro-semiboldit-webfont.woff') format('woff'),
         url('fonts/chaparralpro-semiboldit-webfont.ttf') format('truetype'),
         url('fonts/chaparralpro-semiboldit-webfont.svg#ChaparralProSemiboldItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}
