header {
  height: 120px;
  background: -webkit-linear-gradient(top, #fff, #e5e5e5);
  background: linear-gradient(to bottom, #fff, #e5e5e5);
  margin-bottom: 2px; }
  header .container {
    display: -webkit-box;
    display: flex; }

.logo {
  -webkit-box-flex: 1;
  flex-grow: 1;
  padding-top: 17px; }

.nav {
  font-weight: bold;
  font-size: 12px;
  color: #0066A2;
  margin-top: 64px; }
  .nav li {
    display: block;
    float: left;
    padding-right: 10px;
    padding-left: 10px;
    border-right: 1px solid #b8b8b8; }
  .nav li.last {
    border-right: none; }
  .nav .search {
    border-right: none;
    padding-right: 0; }
    .nav .search input {
      border: 1px solid #999;
      padding: 5px;
      border-radius: 6px;
      margin-top: -5px;
      margin-left: 20px;
      width: 200px; }
      .nav .search input::-webkit-input-placeholder {
        color: #aaa; }
      .nav .search input::-moz-placeholder {
        color: #aaa; }
      .nav .search input:-ms-input-placeholder {
        color: #aaa; }
      .nav .search input::placeholder {
        color: #aaa; }

.carousel-content {
  margin-top: 30px; }
  .carousel-content h2 {
    font-weight: 200;
    text-align: center;
    color: #5B5B5B;
    margin-bottom: 20px;
    margin-top: 30px; }

.carousel-item__image {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  overflow: hidden; }

.welcome-banner {
  background: #eaeaea; }

.welcome-banner__container {
  display: -webkit-box;
  display: flex; }

.welcome-banner__image {
  background: #fff url("images/mainimage.jpg") no-repeat;
  width: 50%;
  flex-shrink: 0;
  margin-right: 30px;
  background-position: center center;
  background-size: cover;
  min-height: 340px; }

.welcome-banner__content {
  padding-bottom: 30px; }
  .welcome-banner__content h1 {
    margin-top: 50px;
    color: #BE1721;
    font-weight: 300;
    font-size: 24px;
    line-height: 1.35; }
    .welcome-banner__content h1 span {
      display: block;
      color: #0066A2;
      font-weight: 700; }
  .welcome-banner__content p {
    color: #5B5B5B;
    font-size: 14px;
    line-height: 1.5; }
  .welcome-banner__content a {
    font-weight: bold;
    color: #5B5B5B;
    text-decoration: underline; }

.carousel-content {
  height: 340px; }

.your-class {
  width: 90%;
  margin: 0 auto; }

.your-class *:focus {
  outline: none; }

.carousel-item {
  position: relative;
  min-height: 230px !important; }
  .carousel-item .carousel-item__content {
    width: 100%;
    padding: 0 20px;
    text-align: center;
    z-index: 2;
    position: relative; }
    .carousel-item .carousel-item__content h3 {
      font-size: 14px;
      text-align: center; }
    .carousel-item .carousel-item__content p {
      display: none;
      font-size: 12px;
      text-align: center; }
    .carousel-item .carousel-item__content a {
      display: none; }
  .carousel-item:hover h3 {
    margin-top: 10px; }
  .carousel-item:hover p {
    display: block; }
  .carousel-item:hover a {
    display: inline-block;
    color: #BE1721; }
  .carousel-item:hover p + a {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px; }
  .carousel-item:hover .carousel-item__image {
    position: absolute;
    left: calc(50% - 75px);
    z-index: 1;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    width: 150px;
    height: 150px;
    border-radius: 100%;
    overflow: hidden; }
    .carousel-item:hover .carousel-item__image img {
      opacity: .05; }

.carousel-item__image {
  margin: 0 auto; }

.slick-next,
.slick-prev {
  background-color: #fff;
  border: none;
  width: 29px;
  height: 44px;
  position: absolute;
  top: 60px; }
  .slick-next:focus,
  .slick-prev:focus {
    outline: 0; }

.slick-prev {
  left: -30px;
  background-image: url("/images/arrow-left.png"); }
  .slick-prev:hover {
    background-image: url("/images/arrow-left_over.png"); }
  .slick-prev.slick-disabled {
    background-image: url("/images/arrow-left_disabled.png"); }

.slick-next {
  right: -30px;
  background-image: url("/images/arrow-right.png"); }
  .slick-next:hover {
    background-image: url("/images/arrow-right_over.png"); }
  .slick-next.slick-disabled {
    background-image: url("/images/arrow-right_disabled.png"); }

.sign-up {
  background: -webkit-linear-gradient(left, #be1721 0%, #be1721 50%, #1c279a 51%, #1c279a 100%);
  background: linear-gradient(to right, #be1721 0%, #be1721 50%, #1c279a 51%, #1c279a 100%); }

.sign-up__content {
  background-image: url("/images/bg_sign-up.png");
  background-repeat: repeat-y;
  background-position: center;
  height: 400px;
  display: -webkit-box;
  display: flex;
  text-align: center;
  color: #fff;
  font-size: 16px; }
  .sign-up__content p {
    padding: 0 50px;
    margin-top: 20px;
    margin-bottom: 20px; }

.cta {
  width: 370px;
  margin: 0 auto;
  color: #fff;
  text-decoration: none;
  text-align: center;
  font-size: 20px;
  display: block;
  padding: 30px 0;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  min-height: 133px; }
  .cta span {
    display: block;
    text-transform: uppercase;
    font-size: 36px;
    line-height: 1;
    padding-bottom: 5px;
    font-weight: 600; }
  .cta:focus {
    outline: none;
    color: #fff;
    text-decoration: none; }
  .cta:hover {
    color: #fff;
    text-decoration: none; }

.afi-sign-up .cta {
  background: #941C23;
  border-radius: 10px;
  box-shadow: inset 0 0 17px 0 rgba(0, 0, 0, 0.12); }
  .afi-sign-up .cta:hover {
    background: #81181E;
    box-shadow: inset 0 0 27px 0 rgba(0, 0, 0, 0.4); }

.pcs-sign-up .cta {
  background: #2130d5;
  border: 2px solid #fff;
  text-transform: uppercase;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); }
  .pcs-sign-up .cta:hover {
    background: #1C2ABB; }
  .pcs-sign-up .cta span {
    font-style: italic; }

.sign-up__logo {
  height: 120px;
  vertical-align: bottom;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  margin-top: 20px; }
  .sign-up__logo img {
    max-height: 100%; }

footer {
  min-height: 180px;
  background: #eaeaea; }
